@import '../helpers/variables';

// .bg-blue {
//     background-color: #4296CB;
// }

@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: $color;
    }
}

section.hero {
    min-height: 100vh;

    & h3 {
        @extend .text-size-46;
    }
}

@media screen and (max-width: 450px) {
    section.hero h3 {
        font-size: 32px !important;
        margin-bottom: 1rem;
    }
}

section.product {

    img {
        width: 236px;
        height: 370px;
    }
}