@import '../helpers/variables';

.footer {

    @extend .bg-blue;
    padding-top: 15px;
    padding-bottom: 15px;

    & img {
        width: 36px;
        height: 32px;
        display: inline-block;
        margin-right: 35px;
    }

    & p {
        @extend .text-white;
        @extend .text-bold;
        display: inline-block;
        margin-bottom: 0px;
    }

}